  @keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
       -webkit-transform: rotate(360deg);
    }
  }
  .rotating:hover {
    background-color: dodgerblue;
    transition: 1s;
  }
  .rotating {
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    -webkit-animation: rotating 3s linear infinite;
  }