.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.a {
    margin-top: 10px;
    display: flex; 
    justify-content: center; 
    box-sizing: border-box;  
    align-items: center;
}
.b {
    display: flex; 
    flex-direction: column; 
    box-sizing: border-box; 
    justify-content:space-around; 
    background-color: blanchedalmond;
    padding: 0px 5px 0px 5px;
}

.childb {
    display: flex; 
    justify-content:space-between;
}

.childb > div{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.c {
    display:flex; 
    justify-content:space-around;
    box-sizing: border-box;
}

.c div {
    width: 20%;
    height: 90px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

