<html>
<head>
	<title>Csurf Middleware</title>
</head>
<body>
	<form action="process" method="POST">
		<input name="csrftoken" value="<%= csrfToken %>">
		<input type="text" name="sometext">
		<input type="submit" value="Submit">
	</form>
</body>
</html>
