
td, th {
    padding: 8px;
    margin-left: 2px;
    border: 1px solid black;
}
th {
    text-align: left;
    background-color: #ddd;
}

.container {
    width: 50%;
    margin:auto;
}

table {
    margin-top: 10px; 
    border-collapse: collapse; 
    width:100%;
}

@media screen and (max-width: 480px) {
    [class="container"] {
        width: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 480px) {
    table td,th{
        font-size: 10px;
    }
}


@media screen and (max-width: 1280px) {
    [class="container"] {
        width: 80%;
    }
}