li:nth-child(3n) {
    background-color: red;
}

li {
    list-style: none;
    background-color: #cce5ff;
    width: 100%;
}
ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    gap: 10px;
    background-color: dodgerblue;
}