.container {
    width: 80%;
    margin: auto;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 2px solid purple;
    justify-content: space-between;
    align-items: center;
}

nav  h1 {
    text-shadow: 0px 0px 25px rgb(224, 28, 224);
    color: red;
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 10px;    
}

nav a:link {
    color: black;
}


nav a:hover {
    color: purple;
}

.card {
    width: 300px;
    border-radius: 10px;
    padding-bottom: 10px;
    height: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
}

.card p {
    text-indent: 20px;
    text-align: justify;
    padding: 0px 10px 0px 10px ;

}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-top: 10px;
}


.btn {
    padding: 5px;
    border: 1px solid purple;
    color: purple;
    border-radius: 10px;
    width: 80%;
    font-weight: 800;
    cursor: pointer;
}

.btn:hover {
    background-color: purple;
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    font-weight: 800;
    font-family:'Courier New', Courier, monospace;
}

@media  screen and (max-width: 480px) {
    [class="container"] {
        width: 100%;
    }
}

@media  screen and (max-width: 480px) {
    [class="main-container"] {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
}

@media  screen and (max-width: 480px) {
    [class="card"] {
        width: 100%;
    }
}

@media  screen and (max-width: 480px) {
    nav {
        flex-direction: column;
    }
}

