.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.container > div {
    box-sizing: border-box;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    align-items: center;
}

.container div > div {
    background-color: dodgerblue;
    width: 50%;
    height: 30%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
